@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* FIX */
html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

/* Background va umumiy text */

/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInL {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInR {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Classes */

.animate-fadeIn {
  animation: fadeIn 0.9s ease forwards;
}

.animate-slideInL {
  animation: slideInL 0.9s ease forwards;
}

.animate-slideInR {
  animation: slideInR 0.9s ease forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scrollLogos {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-logos {
  animation: scrollLogos 25s linear infinite;
}

/* GLOBAL CONTAINER */

.container-custom {
  @apply max-w-screen-xl mx-auto;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 1.2s ease-out forwards;
}
